.simulation {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 967px;
    margin-top: 100px;
    top: 280px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #ECECEC;
    border-radius: 5px;
}

.table-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-green {
    text-transform: uppercase;
    margin: 14px;
    cursor: pointer;
    height: 50px;
    background: #21AE1E;
    border: 1px;
    box-shadow: 0px 2px 2px rgba(135, 135, 135, 0.25);
    border-radius: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.widget {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.view {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 50px;
}
.view-area {
    display: flex;
}

.title-span {
    text-transform: uppercase;
    margin-top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #737373; 
}

.value-span {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

th, tr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

tr {
    font-weight: 400;
}

table {

    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
  
table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
    border-bottom: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: .35em;
}
  
table th, table td {
    padding: .625em;
    text-align: center;
}
  
table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}


@media screen and (max-width: 768px) {

    .simulation {
        margin-top: 50px;
        width: 320px;
    }

    .title-span {
        font-size: 10px;
    }

    .value-span {
        font-size: 10px;
    }
   
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {

      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}